n8n/workflows/agente-ia-agendamento-calenvo.json
{
  "name": "Agente IA Agendamento Calenvo",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "agente-ia-calenvo",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -200,
        0
      ],
      "id": "webhook-trigger",
      "name": "Webhook: Receber Mensagem"
    },
    {
      "parameters": {
        "jsCode": "// Extrai dados relevantes do payload da Evolution API v2\n// Log completo do payload para diagnóstico\nconst fullPayload = $input.first().json;\nconsole.log('=== PAYLOAD COMPLETO ===', JSON.stringify(fullPayload));\n\nconst body = fullPayload.body || fullPayload;\n\n// A Evolution API v2 envia o instanceName em diferentes campos dependendo da versão\nconst instanceName = body.instance \n  || body.instanceName \n  || body.data?.instance \n  || body.sender\n  || '';\n\nconsole.log('instanceName extraído:', instanceName);\n\nconst data = body.data || {};\nconst key = data.key || {};\nconst remoteJid = key.remoteJid || '';\n\n// Suporte a diferentes formatos de mensagem\nconst message = data.message?.conversation \n  || data.message?.extendedTextMessage?.text \n  || data.message?.imageMessage?.caption\n  || '';\n\nconst fromMe = key.fromMe || false;\nconst pushName = data.pushName || body.pushName || '';\nconst phone = remoteJid.replace('@s.whatsapp.net', '');\n\nconsole.log('Extraído:', { instanceName, phone, message: message.substring(0, 50), fromMe });\n\nreturn [{ instanceName, phone, message, pushName, remoteJid, fromMe }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "code-extract",
      "name": "Code: Extrair Dados"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.fromMe }}",
              "value2": true
            },
            {
              "value1": "={{ $json.remoteJid.includes('@g.us') }}",
              "value2": true
            }
          ]
        },
        "combinator": "or"
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        200,
        0
      ],
      "id": "if-msg-valida",
      "name": "IF: Msg Valida?"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  wc.\"userId\",\n  wc.\"aiAgentEnabled\",\n  u.\"businessName\",\n  u.\"segmentType\",\n  u.\"phone\" as \"businessPhone\"\nFROM \"WhatsAppConfig\" wc\nINNER JOIN \"User\" u ON u.id = wc.\"userId\"\nWHERE wc.\"instanceName\" = '{{ $json.instanceName }}'\n  AND wc.\"aiAgentEnabled\" = true\n  LIMIT 1"
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        480,
        180
      ],
      "id": "postgres-tenant",
      "name": "PostgreSQL: Buscar Tenant",
      "credentials": {
        "postgres": {
          "id": "YOUR_POSTGRES_CREDENTIAL_ID",
          "name": "Postgres Calenvo"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.aiAgentEnabled }}",
              "value2": true
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        680,
        180
      ],
      "id": "if-agent-enabled",
      "name": "IF: Agent Habilitado?"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message }}",
        "options": {
          "systemMessage": "=Você é um assistente virtual da empresa {{ $json.businessName }} ({{ $json.segmentType }}).\nSeu objetivo é agendar consultas e tirar dúvidas sobre serviços.\n\nCONTEXTO ATUAL:\n- Hoje é {{ $now.format('DD/MM/YYYY HH:mm') }}.\n- Cliente: {{ $json.pushName }} ({{ $json.phone }})\n- Business ID: {{ $json.userId }}\n\nREGRAS PRINCIPAIS:\n1. Seja cordial, profissional e use português do Brasil.\n2. Antes de agendar, SEMPRE confirme os dados com o cliente (serviço, data e horário).\n3. Use a tool 'consultar_servicos' para ver o que a empresa oferece.\n4. Use 'consultar_agendas' para ver as agendas disponíveis.\n5. Use 'consultar_slots_disponiveis' para ver horários livres.\n6. Use 'criar_agendamento' APENAS quando o cliente confirmar explicitamente.\n7. Se o cliente pedir para cancelar, use 'cancelar_agendamento'.\n8. Se perguntarem algo fora do contexto de agendamentos/serviços, diga educadamente que só pode ajudar com isso.\n\nFLUXO DE AGENDAMENTO:\n1. Pergunte qual serviço o cliente deseja (liste se necessário).\n2. Pergunte a data preferida.\n3. Consulte slots disponíveis para essa data.\n4. Ofereça os horários.\n5. Aguarde escolha.\n6. Confirme e crie o agendamento.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        960,
        180
      ],
      "id": "ai-agent",
      "name": "AI Agent: Calenvo"
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        960,
        420
      ],
      "id": "openai-model",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAI Account"
        }
      }
    },
    {
      "parameters": {
        "sessionId": "={{ $json.remoteJid }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1100,
        420
      ],
      "id": "memory-buffer",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolution-evolution-api.feidcm.easypanel.host/message/sendText/{{ $json.instanceName }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "Wh4Hgf19Kb1YEp41eQB8j8gLLqMiSMgX"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.remoteJid }}"
            },
            {
              "name": "text",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1380,
        180
      ],
      "id": "send-evolution",
      "name": "Evolution: Enviar Resposta"
    },
    {
      "parameters": {
        "name": "consultar_servicos",
        "description": "Lista todos os serviços disponíveis para agendamento, com preços e durações.",
        "query": "SELECT id, name, description, duration, price, category FROM \"Service\" WHERE \"userId\" = '{{ $json.userId }}' AND \"isActive\" = true ORDER BY name"
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        800,
        580
      ],
      "id": "tool-servicos",
      "name": "Tool: Consultar Serviços",
      "credentials": {
        "postgres": {
          "id": "YOUR_POSTGRES_CREDENTIAL_ID",
          "name": "Postgres Calenvo"
        }
      }
    },
    {
      "parameters": {
        "name": "consultar_agendas",
        "description": "Lista os calendários/agendas disponíveis (profissionais ou recursos).",
        "query": "SELECT id, name, description, \"workingDays\", \"startTime\", \"endTime\" FROM \"Schedule\" WHERE \"userId\" = '{{ $json.userId }}' AND \"isActive\" = true ORDER BY name"
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        940,
        580
      ],
      "id": "tool-agendas",
      "name": "Tool: Consultar Agendas",
      "credentials": {
        "postgres": {
          "id": "YOUR_POSTGRES_CREDENTIAL_ID",
          "name": "Postgres Calenvo"
        }
      }
    },
    {
      "parameters": {
        "name": "info_empresa",
        "description": "Retorna informações gerais da empresa (endereço, telefone, regras).",
        "query": "SELECT u.\"businessName\", u.phone, u.whatsapp, bc.\"workingDays\", bc.\"startTime\", bc.\"endTime\" FROM \"User\" u LEFT JOIN \"BusinessConfig\" bc ON bc.\"userId\" = u.id WHERE u.id = '{{ $json.userId }}'"
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1080,
        580
      ],
      "id": "tool-info",
      "name": "Tool: Info Empresa",
      "credentials": {
        "postgres": {
          "id": "YOUR_POSTGRES_CREDENTIAL_ID",
          "name": "Postgres Calenvo"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Tool: Consultar Slots Disponíveis\n// Inputs: scheduleId, serviceId, date (YYYY-MM-DD)\n// Context: userId (global)\n\nconst { scheduleId, serviceId, date } = $input.all()[0].json;\nconst userId = $('PostgreSQL: Buscar Tenant').first().json.userId;\n\nif (!scheduleId || !serviceId || !date) {\n  return { error: 'Faltam parâmetros: scheduleId, serviceId, date' };\n}\n\n// A lógica real deve ser replicada aqui ou chamada via HTTP se for complexa demais para um Code Node inline nos novos n8n versions\n// Simplificação para o Code Tool:\n\n// 1. Validar parametros\n// 2. Fazer query no banco (usando $postgres se disponível ou assumindo que esse nó precisa de acesso direto ao banco, o que Code nodes puros não têm. \n// ATENÇÃO: Code Node não acessa banco direto. \n// SOLUÇÃO: Usar um sub-workflow ou Function Item que chama Postgres. \n// DADO A LIMITAÇÃO DO JSON ÚNICO, VAMOS USAR \"HTTP Request\" para as tools complexas se possível, ou simplificar.\n// COMO ESTAMOS NO \"Agent\", melhor usar Tools do tipo Workflow se a lógica for complexa.\n\n// MOCK TEMPORÁRIO PARA VIABILIZAR O SINGLE FILE JSON\nreturn [\n  { slot: '09:00', available: true },\n  { slot: '10:00', available: true },\n  { slot: '14:00', available: true }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1220,
        580
      ],
      "id": "tool-slots-mock",
      "name": "Tool: Slots (Mock)",
      "disabled": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ferramentas-calenvo",
          "mode": "name"
        },
        "name": "consultar_slots_disponiveis",
        "description": "Calcula horários livres. Requer: scheduleId, serviceId, date (YYYY-MM-DD)."
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.2,
      "position": [
        1220,
        720
      ],
      "id": "tool-workflow-slots",
      "name": "Tool Workflow: Slots"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ferramentas-calenvo",
          "mode": "name"
        },
        "name": "criar_agendamento",
        "description": "Cria agendamento. Requer: clientName, clientPhone, scheduleId, serviceId, date."
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.2,
      "position": [
        1360,
        720
      ],
      "id": "tool-workflow-criar",
      "name": "Tool Workflow: Criar"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook: Receber Mensagem": {
      "main": [
        [
          {
            "node": "Code: Extrair Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Extrair Dados": {
      "main": [
        [
          {
            "node": "IF: Msg Valida?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Msg Valida?": {
      "main": [
        [],
        [
          {
            "node": "PostgreSQL: Buscar Tenant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PostgreSQL: Buscar Tenant": {
      "main": [
        [
          {
            "node": "IF: Agent Habilitado?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Agent Habilitado?": {
      "main": [
        [
          {
            "node": "AI Agent: Calenvo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_language_model": [
        [
          {
            "node": "AI Agent: Calenvo",
            "type": "ai_language_model",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent: Calenvo",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Consultar Serviços": {
      "ai_tool": [
        [
          {
            "node": "AI Agent: Calenvo",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Consultar Agendas": {
      "ai_tool": [
        [
          {
            "node": "AI Agent: Calenvo",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Info Empresa": {
      "ai_tool": [
        [
          {
            "node": "AI Agent: Calenvo",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool Workflow: Slots": {
      "ai_tool": [
        [
          {
            "node": "AI Agent: Calenvo",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool Workflow: Criar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent: Calenvo",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent: Calenvo": {
      "main": [
        [
          {
            "node": "Evolution: Enviar Resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b6813d4c-1d5f-4d8e-9c1a-2b3c4d5e6f7a",
  "meta": {
    "instanceId": "68d7dfbb8678996bd8c8f55e145d1fc2c8e6ccd7e7e6d513a8d499bf72eeb45e"
  },
  "id": "agente-ia-completo-v2",
  "tags": []
}