n8n/workflows/disparo-mensagens-calenvo.json
{
  "name": "disparo-mensagens-calenvo",
  "nodes": [
    {
      "parameters": {},
      "id": "d59ea5b7-4d03-4c11-8c64-02daad9d0f22",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        496,
        1472
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "5ea2399f-9bcd-4fe1-8a4b-a255a3012465",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1024,
        1472
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1cnpxyMrj-M6YqkOQu0wA9Gy_67Nd4aAnselS-iVyyF0",
          "mode": "list",
          "cachedResultName": "nao compradores mago",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cnpxyMrj-M6YqkOQu0wA9Gy_67Nd4aAnselS-iVyyF0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1142382672,
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cnpxyMrj-M6YqkOQu0wA9Gy_67Nd4aAnselS-iVyyF0/edit#gid=1142382672"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Obtem todos os contatos').item.json.row_number }}",
            "Status": "Enviado"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "NOME",
              "displayName": "NOME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "WHATSAPP",
              "displayName": "WHATSAPP",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Disparar para Todos",
              "displayName": "Disparar para Todos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "20704ead-1d0c-4026-997c-9d93999585cb",
      "name": "Atualiza Sucesso",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        1808,
        1344
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1cnpxyMrj-M6YqkOQu0wA9Gy_67Nd4aAnselS-iVyyF0",
          "mode": "list",
          "cachedResultName": "nao compradores mago",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cnpxyMrj-M6YqkOQu0wA9Gy_67Nd4aAnselS-iVyyF0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1142382672,
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cnpxyMrj-M6YqkOQu0wA9Gy_67Nd4aAnselS-iVyyF0/edit#gid=1142382672"
        },
        "options": {}
      },
      "id": "e6d15137-b573-437c-b6be-47c8cab44873",
      "name": "Obtem todos os contatos",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        816,
        1472
      ]
    },
    {
      "parameters": {
        "amount": 10
      },
      "id": "3f46b98f-534b-4a19-aa2a-bfcf6adcdb2b",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2160,
        1504
      ],
      "webhookId": "2987fe5c-e96e-433b-ba83-c95cadc6d0c9"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "Envio Iniciado com Sucesso. Verifique o progresso na Planilha.",
        "options": {}
      },
      "id": "c65d5502-beb7-462e-bf1b-def4897439f4",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        720,
        1152
      ]
    },
    {
      "parameters": {
        "amount": 3
      },
      "id": "ab6275e0-67b9-4d91-a2b0-511c32ed723b",
      "name": "Wait1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1280,
        1488
      ],
      "webhookId": "2987fe5c-e96e-433b-ba83-c95cadc6d0c9"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1cnpxyMrj-M6YqkOQu0wA9Gy_67Nd4aAnselS-iVyyF0",
          "mode": "list",
          "cachedResultName": "nao compradores mago",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cnpxyMrj-M6YqkOQu0wA9Gy_67Nd4aAnselS-iVyyF0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1142382672,
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cnpxyMrj-M6YqkOQu0wA9Gy_67Nd4aAnselS-iVyyF0/edit#gid=1142382672"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Obtem todos os contatos').item.json.row_number }}",
            "Status": "Não enviado"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "NOME",
              "displayName": "NOME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "WHATSAPP",
              "displayName": "WHATSAPP",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Disparar para Todos",
              "displayName": "Disparar para Todos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "11d8d903-126c-441b-95c2-9be1f2f747cb",
      "name": "Não Enviado",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        1776,
        1584
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "(SUA URL EVO)/message/sendText/(INSTANCIA)",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "(APIKEY)"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"number\": \"{{ $json.key.remoteJid }}\",\n    \"text\": \"(SEU TEXTO)\"\n}",
        "options": {}
      },
      "id": "ddede578-02ab-4672-9220-2852515ec531",
      "name": "Evolution 2.1.0 - Texto",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1488,
        1680
      ],
      "alwaysOutputData": false,
      "disabled": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "path": "b6d9ff8f-c9a0-4a24-9ec7-e171cdcc43bd",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "ca08fd88-1d43-4caa-aa57-dd450caf6158",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        528,
        1152
      ],
      "webhookId": "b6d9ff8f-c9a0-4a24-9ec7-e171cdcc43bd",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Webhook ( Botão direito > Ativar )\n**Código abaixo do Disparar para todos** \n=HYPERLINK(\"SUA URL N8N\";\"Disparar para Todos\")",
        "height": 298.64097741911587,
        "width": 466.31226259430105
      },
      "id": "681e0a9b-1a9e-4f6d-b5f1-027cb03732fb",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        480,
        1024
      ]
    },
    {
      "parameters": {
        "content": "## Manual",
        "height": 213.41086834998737,
        "width": 211.58996364362372
      },
      "id": "3a3f983a-b523-4cbb-a7b2-7bf926bc32b8",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        432,
        1424
      ]
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('Webhook').item.json.instancia }}",
        "remoteJid": "={{ $('Webhook').item.json.destinatario }}",
        "messageText": "={{ $('Webhook').item.json.destinatario }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        1504,
        1488
      ],
      "id": "26c6834c-1f74-4a90-bf86-7783efeefea2",
      "name": "Enviar texto",
      "credentials": {
        "evolutionApi": {
          "id": "Jm0CeivS5QtT7ipa",
          "name": "Evolution account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        704,
        1472
      ],
      "id": "16ff491d-1b12-4d2a-9744-1f9a8a973bec",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "73lD2eXhJarafcJx",
          "name": "Postgres amz-homologa"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualiza Sucesso": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtem todos os contatos": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Enviar texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Não Enviado": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evolution 2.1.0 - Texto": {
      "main": [
        [],
        []
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Obtem todos os contatos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "31c8f2a3-39cf-4179-8497-0262e55031d5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "68d7dfbb8678996bd8c8f55e145d1fc2c8e6ccd7e7e6d513a8d499bf72eeb45e"
  },
  "id": "iysemvanQjWbhzV2C4gzi",
  "tags": []
}